<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_activity_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,713},{111,52}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{111,52}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>btn_add_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,941},{46,48}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{46,48}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>btn_bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,383},{109,48}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{109,48}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>btn_category1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,687},{44,70}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{44,70}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,772},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,767},{52,68}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{52,68}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,837},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,943},{56,56}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{56,56}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,861},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,733},{42,70}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{42,70}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_category4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,696},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{109,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>btn_copy_id_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,696},{68,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{68,32}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>btn_duobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,778},{83,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{83,85}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,811},{113,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{113,44}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,696},{74,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{74,104}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,497},{113,54}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{113,54}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>btn_morebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{498,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,165}}</string>
                <key>sourceSize</key>
                <string>{500,165}</string>
            </dict>
            <key>btn_notice_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,933},{74,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{74,104}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>btn_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,949},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,890},{111,56}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{111,56}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>btn_rank_item_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{692,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,116}}</string>
                <key>sourceSize</key>
                <string>{692,116}</string>
            </dict>
            <key>btn_rank_item_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{692,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,116}}</string>
                <key>sourceSize</key>
                <string>{692,116}</string>
            </dict>
            <key>btn_rank_shrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,977},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>btn_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,644},{90,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{90,40}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>btn_service_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,819},{74,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{74,104}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>btn_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,713},{74,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{74,104}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>btn_shop_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,497},{214,104}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{214,104}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,270},{111,48}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{111,48}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>img_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,640}}</string>
                <key>sourceSize</key>
                <string>{540,640}</string>
            </dict>
            <key>img_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,932},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>img_myself_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{709,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,125}}</string>
                <key>sourceSize</key>
                <string>{709,125}</string>
            </dict>
            <key>img_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,713},{217,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,33}}</string>
                <key>sourceSize</key>
                <string>{217,33}</string>
            </dict>
            <key>img_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,889},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>img_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,983},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>img_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,997},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sp_avatar_mask_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,811},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sp_avatar_mask_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,865},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sp_avatar_mask_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,612},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>sp_avatar_mask_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,925},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sp_btn_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,777},{26,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,68}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>sp_category_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{77,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,338}}</string>
                <key>sourceSize</key>
                <string>{77,338}</string>
            </dict>
            <key>sp_gold_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,2},{266,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,50}}</string>
                <key>sourceSize</key>
                <string>{268,50}</string>
            </dict>
            <key>sp_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{128,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,493}}</string>
                <key>sourceSize</key>
                <string>{128,493}</string>
            </dict>
            <key>sp_rank_medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,943},{56,56}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>sp_rank_medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,933},{56,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>sp_rank_medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,931},{58,44}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{58,44}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>sp_rank_order_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,930},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>sp_rank_order_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,930},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>sp_rank_order_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,866},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{87,81}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>sp_rank_totil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,777},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>sp_rankgold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{264,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,38}}</string>
                <key>sourceSize</key>
                <string>{264,38}</string>
            </dict>
            <key>sp_rmbico.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1003},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>sp_shop_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,931},{61,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{61,50}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>sp_shop_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,778},{61,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{61,50}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>sp_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,767},{92,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{92,92}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>sp_trumpet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{939,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,54}}</string>
                <key>sourceSize</key>
                <string>{939,54}</string>
            </dict>
            <key>topVipIcon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,967},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>topVipIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,945},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>topVipIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,949},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>topVipIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,945},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>topVipIcon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,893},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>topVipIcon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,841},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{1146,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bebb0b2d89cab34ac7c10c760f9cdf9$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
